html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #030A27;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

* {
    touch-action: manipulation;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.background {
    position: fixed;
    background-image: url('../images/backgroundImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    max-width: 100vw;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(202, 255, 255, 0.1); 
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 25%;
}

.avatar {
    display: flex;
    background-image: url('../images/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
    border: 5px solid #030A27;
    border-radius: 50%;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 75%;
}

.title {
    color: #d5d5d5;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    font-size: 12px;
}

.details {
    display: flex;
    color: #d5d5d5;
    font-size: 12px;
    text-align: center;
}

.socialLinks {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.link {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    margin-bottom: 10px;
    margin-right: 3px;
    font-size: 12px;
    line-height: 1.2;
    outline: 0;
    border: 2px solid #030A27;
    color: #d5d5d5;
    background-color: rgba(55, 62, 91, 0.5);
    text-shadow: none;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}

/* .link:hover {
    background-color: #d5d5d5;
    color: #333
} */

.link:last-child {
    margin-right: 0;
}

.footerWrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d5d5;
    width: 100%;
    background-color: rgba(3, 10, 39, 0.85);
}


/* Media Queries */
@media only screen and (orientation: landscape) {
    .profile {
        flex-direction: row;
    }
}

@media only screen and (min-width: 769px) {
    .profile {
        flex-direction: row;
        max-width: 1000px;
        padding: 20px;
    }

    .title, .details {
        font-size: 14px;
    }

    .link {
        margin-right: 10px;
        font-size: 14px;
        padding: 11px 29px;
    }
}

@media only screen and (max-height: 410px) and (orientation: landscape) {
    .profile {
        padding: 5px;
    }

    .title, .details {
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
    .avatar {
        width: 140px;
        height: 140px;
    }
}

@media only screen and (max-width: 400px) {
    .link {
        padding: 9px 20px;
    }
}
