html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #222;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.background {
    position: fixed;
    background-image: url(../images/backgroundImg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    max-width: 1056px;
    z-index: 1;
}

.avatar {
    display: flex;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    color: #d5d5d5;
    margin-bottom: 10px;
}

.socialLinks {
    display: flex;
    margin-top: 27px;
    justify-content: center;
}

.link {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 11px 29px;
    margin-bottom: 10px;
    margin-right: 3px;
    font-size: 14px;
    line-height: 1.2;
    outline: 0;
    border: 2px solid #7066ff;
    color: #d5d5d5;
    background-color: #333;
    text-shadow: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.link:last-child {
    margin-right: 0;
}

.footerWrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d5d5;
    width: 100%;
    background-color: #252525;
    border-top: 2px solid #333;
}
